
*{
	margin: 0;
	padding: 0;
}
.body{
}
/* latin */
@font-face {
  font-family: 'Roboto-light-italic';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v18/7m8l7TlFO-S3VkhHuR0at44P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Roboto-light';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Roboto-italic';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v18/vPcynSL0qHq_6dX7lKVByfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

.banner{
	background-image: url(../images/Rectangle.jpg);
	height: 875px;
	width: 1920px;
	background-repeat: no-repeat;
	/*position: relative;*/
}
.about-us{
	color: #283238;
	width: 66px;
	height: 16px;
	display: inline-block;
	float: left;
	position: absolute;
	margin-top: 55px;
	margin-left: 1344px;
	font-size: 12px;
}
.button-sign-in{
	color: #8BC34A;
	height:36px;
	width: 82px;
	text-align: center;
	border: 2px solid #8BC34A;
	border-radius: 100px;
	margin-top: 43px;
	margin-left: 1448px;
	background-color: unset;
}
.hapo-erp {
	position: absolute;
	color: #AED581;
	margin-left: 832px;
	margin-top: 173px;
}
.lorem-ipsum-is-simpl {
	height: 24px;
	width: 569px;
	color: #283238;
	font-family: Roboto;
	font-size: 18px;
	font-style: italic;
	line-height: 24px;
}
.ti-gift{
	position: absolute;
	margin-top: 374px;
	margin-left: 607px;
	font-size: 48px;
	color: #283238;
	line-height: 48px;
	letter-spacing: 4px;
}
.ti-alarm-clock{
	position: absolute;
	margin-top: 374px;
	margin-left: 935px;
	font-size: 48px;
	color: #283238;
	line-height: 48px;
	letter-spacing: 4px;
}
.ti-thumb-up{
	position: absolute;
	margin-top: 374px;
	margin-left: 1239px;
	font-size: 48px;
	color: #283238;
	line-height: 48px;
	letter-spacing: 4px;
}
.better {
	position: absolute;
	height: 48px;
	width: 96px;
	color: #283238;
	font-family: Roboto-light;
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;
	margin-left: 585px;
	margin-top: 434px;
}
.faster {
	position: absolute;
	height: 48px;
	width: 96px;
	color: #283238;
	font-family: Roboto-light;
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;
	margin-left: 910px;
	margin-top: 434px;
}
.together {
	position: absolute;
	height: 48px;
	width: 96px;
	color: #283238;
	font-family: Roboto-light;
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;
	margin-left: 1194px;
	margin-top: 434px;
}
.lorem-ipsum-is-simpl {
	letter-spacing: -0px;
	position: absolute;
	height: 24px;
	width: 600px;
	color: #283238;
	font-family: Roboto;
	font-size: 18px;
	font-style: italic;
	line-height: 24px;
	margin-left: 698px;
	margin-top: 535px;
	text-align: left;
}
.box-start-now{
	margin-left: 847px;
	margin-top: 583px;
	height: 60px;
	width: 225px;
	border-radius: 100px;
	background: linear-gradient(311.12deg, #B4EC51 0%, #429321 100%);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
.start-now{
	text-decoration: none;
	position: absolute;
	height: 24px;
	width: 114px;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 24px;
	padding: 18px 55px 18px 56px;
}
.today-i-learnt{
	float: left;
	/*position: relative;*/
	height: 631px;
	width: 1920px;
	margin: 0 auto;
	background-color: #FFFFFF;
	box-shadow: 0 15px 35px 0 rgba(0,0,0,0.1);
}
.today-i-learnt-left{
	height: 631px;
	width: 666px;
	float: left;
	margin-left: 181px;
	margin-top: 52px;
}
.images-today-i-learnt{
	height: 578px;
}
.today-i-learnt-right{
	float: left;
	margin-top: 144px;
	margin-left: 128px;
}
.line-1{
	margin: 0 auto;
}
.font{
  	height: 36px;
  	width: 36px;
  	color: #444444;
  	font-family: themify;
  	font-size: 36px;
  	line-height: 36px;
  	float: left;
  	margin: 0 19px;
}
.today{
  	height: 63px;	
  	width: 308px;	
  	color: #444444;	
  	font-family: Roboto-light;	
  	font-size: 48px;	
  	font-weight: 300;	
  	line-height: 35px;
  	float: left;
  	letter-spacing: -0.1px;
}
.lorem-ipsum-is-simpl-copy{
  	height: 19px;
  	font-family: Roboto-italic;
  	font-size: 14px;
  	font-weight: normal;
  	font-style: italic;
  	letter-spacing: -0px;
  	text-align: left;
  	color: #283238;
  	float: left;
  	margin-left: 19px;
}
.lorem-ipsum-is-simp2 {
	height: 168px;
	width: 555px;
	color: #283238;
	font-family: Roboto;
	font-size: 13px;
	line-height: 24px;
	text-align: justify;
	float: left;
	margin-top: 48px;
	margin-left: 19px;
	line-height: 1.9;
}
.start-now-2 {
  	width: 225px;
  	height: 60px;
  	border-radius: 100px;
  	background-image: linear-gradient(283deg, #b4ec51, #429321);
  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  	float: left;
  	margin-left: 19px;
  	margin-top: 40px;
  	color: #ffffff;
  	font-family: Roboto;
  	font-size: 18px;
}
.daily-report{
	/*position: relative;*/
	float: left;
	width: 1920px;
	height: 638px;
	margin-top: 34px;
/*	margin-top: 110px;
*/}
.daily-report-left{
	float: left;
	height: 480px;
	width: 457px;
	background-color: #FFFFFF;
	float: left;
	margin-left: 390px;
	margin-top: 122px;
}
.daily-report-right{
	float: right;
}
.daily-report-line-1{
	margin: 0 auto;
}
.icon-201-themify {
	float: left;
	height: 36px;
	width: 36px;
	color: #444444;
	font-family: themify;
	font-size: 36px;
	line-height: 36px;
	margin-right: 18px;
}
.daily-report-text {
	float: left;
	height: 63px;
	width: 252px;
	color: #444444;
	font-family: Roboto-light;
	font-size: 48px;
	font-weight: 300;
	line-height: 63px;
	line-height: 35px;
}
.lorem-ipsum-is-simpl1-copy {
	height: 19px;
	width: 470px;
	color: #283238;
	font-family: Roboto-italic;
	font-size: 14px;
	line-height: 19px;
	float: left;
}
.lorem-ipsum-is-simp3 {
  width: 457px;
  height: 192px;
  font-family: Roboto;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 10;
  text-align: justify;
  color: #283238;
  float: left;
  margin-top: 30px;
}
.start-now-3 {
  width: 225px;
  height: 60px;
  border-radius: 100px;
  background-image: linear-gradient(283deg, #b4ec51, #429321);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  float: left;
  margin-top: 40px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
}


.group-icon {
	float: left;
	height: 322px;
	width: 1920px;
	background: linear-gradient(315deg, #B4EC51 0%, #429321 100%);
 }
.our-customers-employees-group-icon{
 	margin-top: 68.75px;
 	margin-left: 272.75px;
 	display: inline-block;
 	height: 130px;
 	opacity: 100%;
 }
.our-customers-avatar-group-icon{
 	float: left;
 	margin-right: 147.5px;
 	/*padding-right: 69.64px;*/
 	/*width: 120px;*/
 	/*height: 16px;*/
 }

 .our-customers-name{
 	text-align: center;
 }
.our-customers-name p{
  width: 191px;
  height: 24px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: left;
  color: #ffffff;
 }
.our-customers-name .our-customers-name-1{
	margin-left: -10px;
}
.our-customers-name .our-customers-name-2{
	margin-left: 10px; 
}
.our-customers-name .our-customers-name-3{
	margin-left: -30px;
}
.our-customers-name .our-customers-name-4{
	margin-left: -42px;
	width: 220px;
}
.our-customers-name .our-customers-name-5{
	margin-left: -35px;
}





.members{
	width: 1920px;
	height: 500px;
	float: left;
	margin-top: 97px;
	margin-left: 389px;
}
.members-left{
	float: left;
}
.members-right{
	margin-left: 53.92px;
	float: left;
}
.icon-font-members{
  width: 36px;
  height: 36px;
  font-family: themify;
  font-size: 36px;
  letter-spacing: -0.1px;
  text-align: left;
  color: #444444;
  float: left;
  margin-right: 18px;
}
.members-text {
	float: left;
	height: 63px;
	width: 213px;
	color: #39474E;
	font-family: Roboto-light;
	font-size: 48px;
	font-weight: 300;
	line-height: 40px;
}
.Lorem-Ipsum-is-simpl-mask-2 {
  float: left;
  width: 480px;
  height: 19px;
  font-family: Roboto;
  font-size: 14px;
  font-style: italic;
  letter-spacing: -0px;
  text-align: left;
  color: #283238;
  display: inline-block;
  margin-top: 16px;
}
.members-lin-3 {
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
}
.members-lin-4{
	margin-top: 30px;
}
.members-lin-5{
	margin-top: 30px;
}
.ti-check-box {
  float: left;
  width: 18px;
  height: 24px;
  font-family: themify;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: justify;
  color: #8bc34a;
  margin-right: 18px;
}
.text-Lorem-Ipsum-is-simp-1 {
  display: inline-block;
  width: 519px;
  height: 50px;
  font-family: Roboto;
  font-size: 13px;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: justify;
  color: #283238;
}
.button-members{
	width: 225px;
 	height: 60px;
 	border-radius: 100px;
  	background-image: linear-gradient(283deg, #b4ec51, #429321);
  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    float: left;
  	margin-top: 29px;
  	color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
}

.customers{
	margin-top: 80px;
	float: left;
	height: 663px;
	width: 1920px;
	background-color: #ffffff;
  	box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
}
.customers-left{
	float: left;
	width: 719px;
	height: 663px;
	margin-top: 20px;
	margin-left: 128px;
}
.customers-right{
	margin-top: 129px;
	margin-left: 128px;
	float: left;
}
.icon-font-customers{
  width: 36px;
  height: 36px;
  font-family: themify;
  font-size: 36px;
  letter-spacing: -0.1px;
  text-align: left;
  color: #444444;
  float: left;
  margin-right: 18px;
}
.customers-text {
	float: left;
	height: 63px;
	width: 213px;
	color: #39474E;
	font-family: Roboto-light;
	font-size: 48px;
	font-weight: 300;
	line-height: 63px;
	line-height: 40px;
}
.Lorem-Ipsum-is-simp-customers {
  float: left;
  width: 500px;
  height: 19px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0px;
  text-align: left;
  color: #283238;
  display: inline-block;
}
.lin-23 {
	float: left;
	margin-top: 38px;
	margin-bottom: 17px;
}
.lin-24{
	margin-bottom: 17px;
}
.ti-unlock {
  float: left;
  width: 18px;
  height: 24px;
  font-family: themify;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: justify;
  color: #8bc34a;
  margin-right: 19px;
}
.ti-cup {
  float: left;
  width: 18px;
  height: 24px;
  font-family: themify;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: justify;
  color: #8bc34a;
  margin-right: 19px;
}
.ti-stats-up {
  float: left;
  width: 18px;
  height: 24px;
  font-family: themify;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: justify;
  color: #8bc34a;
  margin-right: 19px;
}
.text-Lorem-Ipsum-is-simp-1 {
  display: inline-block;
  width: 519px;
  height: 50px;
  font-family: Roboto;
  font-size: 13px;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: justify;
  color: #283238;
}
.button-customers{
	width: 225px;
 	height: 60px;
 	border-radius: 100px;
  	background-image: linear-gradient(283deg, #b4ec51, #429321);
  	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    float: left;
  	margin-top: 30px;
  	color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
}
.rectangle-our-customers-2 {
	margin-top: -32px;
	float: left;
 	height: 544px;
 	width: 1920px;
 	background-color: rgba(40,50,56,0.9);
 	background-image: url('../images/Rectangle 3.jpg');
 }
.our-customers-employees{
 	margin-top: 48px;
 	margin-left: 398px;
 	display: inline-block;
 	height: 130px;
 	opacity: 100%;
 }
.our-customers-avatar{
 	float: left;
 	margin-right: 69.64px;
 }
.our-customers-name-2{
	opacity: 100%;
 	margin-top: 16px;
 	margin-bottom: 256px;
 	text-align: center;
 	width: 80px;
 }
.our-customers-name-2 span{
	opacity: 0.4;
 	display: block;
 	color: #FFFFFF;
 	font-size: 10px;
 	font-weight: 300;
 	line-height: 14px;
 }
.our-customers-name-2 label{
 	display: block;
 	opacity: 0.4;
 	color: #FFFFFF;
 	font-weight: 300;
 	line-height: 14px;
 	
 }
.our-customer-2 {
	opacity: 100%;
 	height: 63px;
 	width: 300px;
 	color: #FFFFFF;
 	font-family: Roboto;
 	font-size: 48px;
 	font-weight: 300;
 	line-height: 63px;
 	margin-left: 816px;
 	padding-top: 50px;
 }
 .oval-our-customers{
 	float: left;
 	margin-left: 932px;
 	margin-top: 24px;
 }
.oval-our-customers-1{
	margin-right: 22.79px;
	float: left;
	height: 10px;
	width: 9.71px;
	border-radius: 100px;
	background-color: #D8D8D8;
}
.oval-our-customers-2{
	margin-right: 22.79px;
	float: left;
	height: 11px;
	width: 10.71px;
	box-sizing: border-box;border: 1px solid #979797;
	border-radius: 100px;
}
.oval-our-customers-3{
	border-radius: 100px;
	float: left;
	height: 11px;
	width: 10.71px;
	box-sizing: border-box; border: 1px solid #979797;
}
.icon-128-themify {
	margin-left: 487px;
	/*margin-top: 0px;*/
	height: 73px;
	width: 72px;
	opacity: 0.4;
	color: #FFFFFF;
	font-family: themify;
	font-size: 72px;
	line-height: 73px;
	text-align: justify;
}
.text-Rectangle-our-customers {
	float: left;
	height: 90px;
	width: 750px;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	text-align: justify;
	margin-left: 586px;
	opacity: 0.4;
}
.icon-127-themify {
	float: left;
	height: 73px;
	width: 72px;
	opacity: 0.4;
	color: #FFFFFF;
	font-family: themify;
	font-size: 72px;
	line-height: 73px;
	text-align: justify;
	margin-top: -32px;
	margin-left: 1362px;
}
.projects{
	width: 1920px;
	height: 663px;
	/*margin-top: 111px;*/
}
.projects-left{
	height: 500px;
	width: 457px;
	background-color: #FFFFFF;
	float: left;
	margin-left: 390px;
	margin-top: 126px;
}
.projects-right{
	margin-top: 34px;
	float: right;
}
.icon-183-themify {
	float: left;
	height: 36px;
	width: 36px;
	color: #444444;
	font-family: themify;
	font-size: 36px;
	line-height: 36px;
	margin-right: 18px;
}
.project-text {
	float: left;
	height: 63px;
	width: 252px;
	color: #444444;
	font-family: Roboto;
	font-size: 48px;
	font-weight: 300;
	line-height: 63px;
	line-height: 35px;
}
.lorem-ipsum-is-simpl4-copy {
	height: 19px;
	width: 500px;
	color: #283238;
	font-family: Roboto;
	font-size: 14px;
	font-style: italic;
	line-height: 19px;
	float: left;
}
.lorem-ipsum-is-simp4 {
  font-family: Roboto;
  font-size: 13px;
  line-height: 1.85;
  text-align: justify;
  color: #283238;
  float: left;
  margin-top: 30px;
}
.start-now-4 {
  width: 225px;
  height: 60px;
  border-radius: 100px;
  background-image: linear-gradient(283deg, #b4ec51, #429321);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  float: left;
  margin-top: 40px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
}
.footer{
  float: left;
  width: 1920px;
  height: 178px;
  background-color: #39474e;
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #eceff1;
  margin-top: -5px;
}
.copyright-2017{
  width: 69px;
  height: 13px;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0px;
  text-align: left;
  color: #d0d8dc;
}
.colume-1{
	float: left;
	display: inline-block;
	margin-left: 389px;
	margin-top: 45px;
}
.row-bottom{
  width: 100px;
  height: 40px;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: -0px;
  text-align: left;
  color: #d0d8dc;
}
.row-1-1 {
	width: 96px;
	color: #AED581;
	font-family: Enso;
	font-size: 24px;
	line-height: 29px;
	float: left;
	margin-bottom: 36px
}
.colume-2{
	float: left;
	display: inline-block;
	margin-left: 100px;
	margin-top: 54px;
}
.row-2-1 {
	color: #8BC34A;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 500;
	line-height: 18px;
	float: left;
	margin-bottom: 14px;
}
.contact-us{
  width: 63px;
  height: 40px;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: -0px;
  text-align: left;
  color: #d0d8dc;
}
.colume-3{
	display: inline-block;
	margin-left: 109px;
	margin-top: 54px;
}
.contact-footer{
	float: left;
	width: 1350px;
	height: 178px;
}
.list-icon-footer{
	float: left;
	width: 550px;
	height: 178px;
	color: #8BC34A;
	font-size: 13px;
}
.colume-6{
	float: left;
	margin-top: 108px;
	margin-left: 119px;
}
.colume-7{
	float: left;
	margin-left: 38px;
	margin-top: 108px;
}
.colume-8{
	float: left;
	margin-left: 38px;
	margin-top: 108px;
}
.colume-9{
	float: left;
	margin-left: 38px;
	margin-top: 108px;
}